.container{
	height:100%;
	width:100%;
}
h3{
	text-shadow:2px 2px teal;
	font-family:sans-serif;
	color:#ffffff;
}
body{
	background-image:url('cse2.jpg');
}
.top{
	color:black;
	border:1px solid black;
	border-radius:7px;
	height:120px;
	width:100%;
	background-color:#ADD8E6;
}
.log{
	border:1px solid black;
	border-radius:5px;
}
#user{
	margin-left:870px;
}
.bottom_left{
	width:50%;
	background-color:transparent;
	float:left;
	height:500px;
}
.bottom_right{
	width:50%;
	background-color:transparent;;
	float:right;
	height:500px;
}
.styling{
	border:1px solid black;
	border-radius:5px;
	font-size:20pt;
	margin-top:5px;
}
.info{
	text-shadow:2px 1px #0000ff;
	font-family:sans-serif;
	font-size:15pt;
}
#teach{
	margin-left:870px;
}
.whois
{
	text-shadow:1px 1px teal;
	font-family:sans-serif;
}
